<!DOCTYPE html>
<html ng-app='root-app'>
  <head>
    <link href='style.css' rel='stylesheet' type='text/css'>
    <script data-require='angular.js@1.3.10' data-semver='1.3.10' src='https://code.angularjs.org/1.3.10/angular.js'></script>
    <script src="node_modules\chart.js\dist\Chart.min.js"></script>
    <script src="node_modules\angular-chart.js\dist\angular-chart.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Faustina" rel="stylesheet">
  </head>

  <body>

        <!-- Input Form -->
        <h1>TSA Data</h1>
        <form id='dataForm'>
            <input type='date'/>
            <input type='text' placeholder='Code' />
            <input type='num' placeholder='Value'>
            <button>Submit</button>
        </form>
        <!-- Tabs -->
        <div ng-controller='ToggleCtrl' ng-model='metric'>  
            <div id='toggleBtnDiv' >  
                <button ng-click="toggle('lineValueLost')">Line Graph</button>
                <button ng-click="toggle('barAvgClaims')">Bar Graph</button>
            </div>
      
        <!-- placeholder for graph -->
            <div id="chartParent" style="width: 55%; margin: auto;">

                <div ng-controller="BarCtrl" ng-show="metric === 'barAvgClaims'" >
                    <h3>Average Claims per Month by Airport</h3>
                    <canvas     
                        id="bar" 
                        chart-options="options"
                        class="chart chart-bar"
                        chart-data="data" 
                        chart-labels="labels" 
                        chart-color="color">
                    </canvas>
                </div>

                <div ng-controller="LineCtrl" ng-show="metric === 'lineValueLost'">
                    <h3>Average Value Lost a Month by Airline</h3>
                    <div>${{totalLossesAvg}} Combined Avg. Losses</div>
                    <canvas 
                        ng-show="metric === 'lineValueLost'" 
                        id="line" 
                        class="chart chart-line"                        
                        chart-options="options"
                        chart-data="data"
                        chart-labels="labels">
                    </canvas>
                </div>
            </div>
        </div>

        <!-- Filter Selection -->
        <div id="filterParent">
            <lable for='filterOptions'>Filters:</label>
            <select name='filterOptions' id='filterOptions'>
                <option>Time</option>
                <option>Date</option>
                <option>Cost</option>
            </select>
        </div>

        <!-- Stats -->
        <h3>Statistics</h3>
        <div>Additonal Stats...</div>

        <script src='script.js'></script>
    </body>
</html>
